<main class="row">
  <div class="body body__frinds">
    <div class="heading">
<!--自分の詳細ページか他のユーザーの詳細ページかで表示を変える-->
      <!--<h1 class="heading__title--en"></h1>-->
      <h3 class="heading__title--main">Message ++</h3>
      <h3>メッセージ一覧ページ</h3>
      
    </div>
    <div class="heading__border">
      <span class="border-title">メッセージを確認しよう！</span>
    </div>
    <div class="content">
      <div class="content__field--notifications">
        <div class="content__fields">
          <h2 class="content__fields--heading">Messages</h2>
          <div class="content__fields--flex">
            <div class="content__fields--notification">
              <% if @notifications.exists? %>
                <%= render 'message_notifications', notifications: @notifications %>
              <% else %>
                <p>メッセージはありません</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/sidebar' %>
</main>