<main class="row">
  <div class="body body__frinds">
    <div class="heading">
<!--自分の詳細ページか他のユーザーの詳細ページかで表示を変える-->
      <!--<h1 class="heading__title--en"></h1>-->
      <h3 class="heading__title--main">Notification ++</h3>
      <h3>通知一覧ページ</h3>
      
    </div>
    <div class="heading__border">
      <span class="border-title">通知を確認しよう！</span>
    </div>
    <div class="content">
      <div class="content__field--notifications">
        <div class="content__fields">
          <h2 class="content__fields--heading">My Notifications</h2>
          <div class="content__fields--flex">
            <div class="content__fields--notification">
              <%# notifications = @notifications.where.not(visitor_id: current_user.id) %>
              <% if @notifications.exists? %>
                <%= render 'notifications', notifications: @notifications %>
                <%= paginate @notifications %>
              <% else %>
                <p>現在通知はありません</p>
              <% end %>
            </div>
            <div class="col-xs-12 text-center">
              <%= paginate @notifications%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/sidebar' %>
</main>