<main class="row">
  <div class="body body__mypage">
    <% if @user == current_user %>
      <div class="heading">
  <!--自分の詳細ページか他のユーザーの詳細ページかで表示を変える-->
        <h3 class="heading__title--main">My page ++</h3>
        <h3 class="heading__title--ja">詳細ページ</h3>
      </div>
      <div class="heading__border">
        <span class="border-title">プロフィールを充実させよう</span>
      </div>
    <% else %>
      <div class="heading">
  <!--自分の詳細ページか他のユーザーの詳細ページかで表示を変える-->
        <h3 class="heading__title--main">Profile ++</h3>
        <h3 class="heading__title--en"><%= @user.name %>の詳細ページ</h3>
      </div>
      <div class="heading__border">
        <span class="border-title"><%= @user.name %>のプロフィールを確認しよう</span>
      </div>
    <% end %>
    <div class="content">
      <div class="content__field--mypage">
        <%= render 'layouts/profile', user: @user %>
      </div>
    </div>
  </div>
  <%= render 'layouts/sidebar' %>
</main>