<main>
  <div class="main-visual">
    <div class="container main-visual__content">
        <div class="main-visual__logo">
        </div>
        <h3 class="main-visual__explanation">ゲーム仲間を集めよう！</h3>
        <h3 class="main-visual__explanation--sub">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,</br>
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
        <div class="main-visual__button-field">
          <%= link_to "新規登録はこちら", new_user_registration_path, class: "col-xs-4 main-visual__sign-up" %>
          <%= link_to "ログインページへ", new_user_session_path, class: "col-xs-4 main-visual__sign-in" %>
        </div>
        <div class="main-visual__button-field">
          <%= link_to "かんたんログイン", new_user_session_path, class: "col-xs-4 main-visual--easy" %>
        </div>
    </div>
  </div>
  <div class="about">
    <h1 class="about__heading">What about</h1>
    <div class="about__content">
      <div class="about-explanation">
        <h4>Game-Chezは、「ゲームを一緒にできる人を探す」 サービスです。<br>ゲームをプレイする人なら誰でも簡単に利用できます！<br>まずは新規登録してゲーム仲間を探そう！</h4>
      </div>
      <div class="heading__border">
        <span class="border-title">基本的な使い方はこちらから！</span>
      </div>
      <div class="about-2way row">
        <div class="about__geme-czas col-md-6">
          <p class="text-muted">ユーザーページです。<br>ログインしていただくとまずは参加者側に入ります。</p>
          <div class="about__content--field">
            <h2><span class="title">Step 1ゲームイベントの予定が一目でわかる ！</span></h2>
          </div>
          <div class="about__content--field">
            <h2><span  class="title">Step 2開催されているイベントチェック ！</span></h2>
          </div>
          <div class="aabout__content--field">
            <h2><span  class="title">Step 3イベントオーナーへの連絡！</span></h2>
             
          </div>
          <div class="about__content--field">
            <h2><span  class="title">Step 4 メッセージで開催場所を決定しよう ！</span></h2>
             
          </div>
        </div>
        <div class="about__geme-czas col-md-6">
          
           <p class="text-muted">イベント作成とは？？<br>イベント作成ボタンをクリック！</p>
          <div class="about__content--field">
            <h2><span  class="title admin">Step 1イベントのゲーム日時を決めよう！</span></h2>
            
          </div>
          <div class="about__content--field">
            <h2><span  class="title admin">Step 2フレンドを招待する事も可能！</span></h2>
            
          </div>
          <div class="about__content--field">
            <h2><span  class="title admin">Step 3ユーザーから参加の依頼を待つ！！</span></h2>
            
          </div>
          <div class="about__content--field">
            <h2><span  class="title admin">Step 4マッチング後メッセージで開催場所を決めよう！！</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="top-footer">
  <div class="container">
    <div class="d-flex justify-content-center footer">
      <p class="mb-0 copyright">Copyright(c)  2020 Game-Czas! Co.,Ltd</p>&emsp;
    </div>
  </div>
</footer>