.btn-actions {
    padding-top:50px;
    margin-bottom: -30px;
}

input.btn-actions__sign-up-btn {
    background: #ee7b1a;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

input.btn-actions__sign-in-btn {
    background: #00a0de;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    
    &:hover{
        text-decoration: none!important;
    }
}

.btn-actions__sign-in-btn2.form-control {
    background: #00a0de;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    
    &:hover{
        text-decoration: none!important;
    }
}