// body中央コンテンツのブロックレイアウトCSS
.content {
  padding-top: 10%;
// 新規登録ページのレイアウト---------------
  &__field {
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }
  
  &__field--form {
    margin-bottom: 20px;
  }
// 新規登録ページのレイアウト---------------
}

// フォームラベルのレイアウト
.content__field--label {
  margin-bottom: 15px;
}

// 全ページ共通コンテンツレイアウトCSSーーーーーーーーーーー
.content__fields {
    background: #45668a ;
    border-radius: 20px;
    padding: 5%;
    margin-bottom: 10%;
}

.content__fields--heading {
  color:white;
  margin-bottom:40px;
}

.content__fields--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:30px;
}
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


// イベントページindexレイアウトCSS------------------------
.content__fields--event-index {
  background-color: #45668a;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 10%;
}

.content__fields--heading-index {
  margin-top:20px;
  color:white;
}

.content__fields--flex-item-event {
    background: white;
    margin-top: 25px;
    color:black;
}
// イベントページnewレイアウトCSS------------------------
.content__fields--events {
    background: white;
    padding: 5%;
}

// ------------------------------------------------


// ------------------------------------------------


// マイページ、編集ページのレイアウトCSS
.content__fields--flex-item-mypage1 {
    width: 45%;
    background: white;
    color:black;
    padding: 5%;
    
}
.content__fields--flex-item-mypage1-user {
    width: 45%;
    background: white;
    color:black;
    padding: 5%;
    border: solid 8px #79a2ce;
}

.content__fields--flex-item-mypage2-user {
    width: 50%;
    background: white;
    color:black;
    padding: 5%;
    border: solid 8px #79a2ce;
}
.content__fields--flex-item-mypage2 {
    width: 50%;
    background: white;
    color:black;
    padding: 5%;
}

// マイページのテーブルレイアウト
th.content__profile {
    width: 150px;
}


// フレンドページのレイアウトCSS
.content__fields--friends {
    background: white;
    width: 100%;
    border: solid 8px #79a2ce;
}


// ユーザーの写真領域のCSS
.content__image--user {
    margin-top: -20px;
}
// 写真投稿ボタンのCSS
.content__image--form {
    margin-top: 50px;
}

.content__fields--favorite_calendar {
  border-radius: 20px;
  padding: 5%;
  margin-bottom: 10%;
  background:#8fbc8f;
}

.content__field--follow {
  margin-top:30px;
  margin-bottom:20px;
}

.content__fields--matching-users {
  line-height: 80px;
  width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
td.content__fields--matching-users {
    width: 120px;
}

// ユーザー編集画面の自己紹介フォーム
textarea#user_introduction {
    height: 200px;
}


// メッセージ系のCSS
.content__fields--friend-message {
    background: white;
    width: 100%;
}

.content__fields--friend-message {
    background: white;
    width: 75%;
}

.content__fields--block {
    padding: 5%;
    border: solid 8px #79a2ce;
    overflow: scroll;
    height: 700px;
}

.content__fields--message-form {
    margin: 30px;
}

.content__fields--message {
    display: inline-block;
}

.content__fields--notification {
    background: white;
    padding: 2% 5% 3%;
    border: solid 8px #79a2ce;
    width: 80%;
}

@media(max-width :768px){
  .content__fields--matching-users-search{
    display:none;
  }
}

@media(max-width :425px) {
  .content__fields--matching-users-search-responsive{
    display:none;
  }
}