// body中央コンテンツのブロックレイアウトCSS
.content {
  padding-top: 10%;
// 新規登録ページのレイアウト---------------
  &__field {
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }
  
  &__field--form {
    margin-bottom: 20px;
  }
// 新規登録ページのレイアウト---------------
}

// フォームラベルのレイアウト
.content__field--label {
  margin-bottom: 15px;
}

// 全ページ共通コンテンツレイアウトCSSーーーーーーーーーーー
.content__fields {
    background-color: #303E4D;
    border-radius: 20px;
    padding: 5%;
    margin-bottom: 10%;
}

.content__fields--heading {
  color:white;
}

.content__fields--flex {
    display: flex;
    justify-content: space-around;
    margin-top:30px;
}
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー


// イベントページのレイアウトCSS------------------------
.content__fields--flex-item-event {
    height: 250px;
    width: 25%;
    background: white;
    margin-right: 20px;
    color:black;
}
// ------------------------------------------------


// ------------------------------------------------


// マイページ、編集ページのレイアウトCSS
.content__fields--flex-item-mypage1 {
    width: 70%;
    background: white;
    // margin-right: 20px;
    color:black;
    padding: 5%;
}

.content__fields--flex-item-mypage2 {
    width: 30%;
    background: white;
    // margin-right: 20px;
    color:black;
    padding: 5%;
}

// マイページのテーブルレイアウト
th.content__profile {
    width: 150px;
}


// フレンドページのレイアウトCSS
.content__fields--friends {
    background: white;
    width: 100%;
}

