// .event__area {
//     background: white;
//     padding: 5%;
// }

// .event__area--supplement {
//   margin-bottom :10px;
// } 

// .event__area--buttons {
//     text-align: right;
// }
.event__area {
    background: white;
    padding: 5%;
    
    &--supplement {
      margin-bottom :10px;
  } 
    &--buttons {
      text-align: right;
  }
}

// カード内ボタンのレイアウト
input.btn.btn-primary.card-bosy__button {
    margin-bottom: 10px;
}

.event__area--border {
    height: 40px;
}

.event__area--comments {
    background: white;
    padding: 5%;
}

.event__area--likes {
    text-align: left;
    margin-left: 20px;
}

// イベント作成ページのフォーム
textarea#game_location {
    height: 200px;
}

textarea#event_game_location {
    height: 200px;
}