.content__fields--calendar {
    background: white;
    border: solid 8px #79a2ce;
}


.event__area {
    background: white;
    padding: 5%;
}

.event__area--supplement {
  margin-bottom :10px;
} 

.card {
    border: solid 5px #79a2ce!important;
}