.fa-twitter{color:#1da1f2;margin-right: 10px;}
.fa-instagram{color:#b6007a;margin-right: 10px;}
.fa-youtube{color:#e1306c;}

.fas {
  margin-right:10px;
}



i.fa.fa-circle {
    position: absolute !important;
    padding-left: 184px !important;
    padding-top: 348px !important;
    font-size: 3px!important;
}

i.fas.fa-map-marker{
  position: absolute !important;
  padding-left: 193px!important;
  padding-top: 62px!important;
  font-size: 10px!important;
}

// i.fas.fa-comment-dots {
// //     position: absolute !important;
// //     padding-left: 180px;
// //     padding-top: 65px;
// // }

i.fas.fa-search {
    margin-right: 0;
}

i.fas.fa-heart {
  margin-right: 0;
}