
.main-visual{
  padding-top: 30px;
  padding-bottom: 40px;
  background: #fbfbfb;

}
// トップページ中央寄せ
.container.main-visual__content {
  text-align: center;
}

.main-visual__explanation{
  margin-top: 50px ;
}

.main-visual__button-field {
  margin-top: 35px;
  text-align: center;
}

// 新規登録ボタン
.main-visual__sign-up {
  display: inline-block;
// 赤色
  background: #ee7b1a;
  padding: 8px 30px;
  color: white;
  border-radius: 10px;
  margin-right: 60px;
  font-size:15px;
}

a.col-xs-4.main-visual__sign-up:hover {
  color: white!important;
  text-decoration: none!important;
  opacity: 0.7;
  
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

// ログインボタン
.main-visual__sign-in {
  display: inline-block;
// 水色
  background: #00a0de;
  padding: 8px 30px;
  color: white;
  border-radius: 10px;
  font-size:15px;
}

a.col-xs-4.main-visual__sign-in:hover {
  color: white!important;
  text-decoration: none!important;
  opacity: 0.7;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

// 簡単ログインンボタン
.main-visual--easy {
    display: inline-block;
    padding: 8px 30px;
    color: white;
// オレンジ色
    background: #b6007a;
    border-radius: 10px;
    font-size:15px;
}

a.col-xs-4.main-visual--easy:hover {
  color: white!important;
  text-decoration: none!important;
  opacity: 0.7;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}


.about__heading{
  margin: 0 auto;
  text-align: center;
  height:100px;
  line-height: 100px;
  background-color: #45668a;
  color:white;
 }
 @media (max-width: 767px) {
  .about__heading{
    font-size: 30px;
    }
}
 .about__content{
  text-align: center;
  padding: 50px 50px;
  background-color:white-gray;
 }
 .about-explanation{
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
 }
 .about-2way{
  display: flex;
  justify-content: space-around;
 }
 @media (max-width: 767px) {
  .copyright{
    margin-top: 15px;
  }
  .about__content h4{
    font-size:16px;
  }
 }
 img.top-logo {
    border: solid 15px #79a2ce;
    border-radius: 50%;
    height: 300px;
}
 // 画像（step)
.step-small-image{
  width:38px;
  height:38px;
}
.sm-step-small-image{
  width:30px;
  height:30px;
}
// 画像（説明)
.descreption-image{
  width:90%;
  padding-top:4%;
}
.descreption-image{
  width:90%;
  padding-top:4%;
}
// 見出しのマーカー
.about__geme-czas{
  .title {
    background:linear-gradient(transparent 70%, #7eb6f3 0%);
    }
}
span.title {
    background: linear-gradient(transparent 70%, #7eb6f3 0%);
}
// 見出しのサイズ
@media (max-width: 767px) {
  .about-Nomi-Joy__content, .about-Kanjino-Heya{
    .title {
      font-size: 0.7em;
    }
  }
}