// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notification-border {
    border-bottom: solid 1px #dfdfdf;
    margin-top: 5px;
}

.col-xs-9.d-flex.align-items-center.notification__text-area {
    margin-left: 30px;
}

p.text-muted {
    text-align: left;
}

.notification__message {
    margin: 20px 0 0 30px;
}