// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search {
    text-align: right;
}

.search-form {
    margin-bottom: 30px;
    padding: 2%;
    background: #303E4D;
    display: inline-block;
    border-radius: 50px;
}

input#search_word {
    height: 35px;
}