// サイドバーのレイアウトCSS
.sidebar {
  text-align : center;
  padding : 0;
  width : 25%;
  // メイン紺色
  background-color: #303E4D;
  // #636ab5
  // #7e94e5
  
  &__logo {
    height: 350px;
  }
}


.nav-item {
  color: white;
  margin-bottom:25px;
}