.simple-calendar {
  .day {
    height:150px;
  }
  .wday-0 {
    color:#b14a4a;
    background-color: #e9cfcf;
  }
  .wday-1 {
    background-color: white;
  }
  .wday-2 {
    background-color: white;
  }
  .wday-3 {
    background-color: white;
  }
  .wday-4 {
    background-color: white;
  }
  .wday-5 {
    background-color: white;
  }
  .wday-6 {
    color:#526ebd;
    background-color: #efffff;
  }

  .today {
    // background-color: white;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    opacity: 0;
  }
  .next-month {
    opacity: 0;
  }
  .current-month {}

  .has-events {}
}
.calendar-heading{
  font-size: 40px;
}
// .calendar{
//   p{
//     margin: 0 ;
//   }
//   &__time{
//   font-size: 10px;
//   }
//   &__restaurant{
//     font-size: 10px;
//   }
//   &__days td{
//     height: 170px ;
//   }
// }
a.next{
  color: #7f7fff;
  margin: 0 30px;
  font-size: 30px;
  &:hover{
    text-decoration: none;
  }
}
a.previous{
  color: #7f7fff;
  margin: 0 30px;
  font-size: 30px;
  &:hover{
    text-decoration: none;
  }
}

.simple-calendar .today {
    background-color: #ffefe0;
}

th.days-ja {
    text-align: center;
}

