.simple-calendar {
  .day {
    height:150px!important;
    text-align: left!important;
  }
  .wday-0 {
    color:#b14a4a;
    background-color: #e9cfcf;
  }
  .wday-1 {
    background-color: white;
  }
  .wday-2 {
    background-color: white;
  }
  .wday-3 {
    background-color: white;
  }
  .wday-4 {
    background-color: white;
  }
  .wday-5 {
    background-color: white;
  }
  .wday-6 {
    color:#526ebd;
    background-color: #f0ffff;
  }

  .today {
    background: #f7f7f7!important;
    border: solid #45668a!important;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    opacity: 0;
  }
  .next-month {
    opacity: 0;
  }
  .current-month {}

  .has-events {}
}
.calendar-heading{
  font-size: 40px;
}
// .calendar{
//   p{
//     margin: 0 ;
//   }
//   &__time{
//   font-size: 10px;
//   }
//   &__restaurant{
//     font-size: 10px;
//   }
//   &__days td{
//     height: 170px ;
//   }
// }
a.next{
  color: #8fbc8f;
  margin: 0 30px;
  font-size: 30px;
  &:hover{
    text-decoration: none;
    color:#2e8b57;
  }
}
a.previous{
  color: #8fbc8f;
  margin: 0 30px;
  font-size: 30px;
  &:hover{
    text-decoration: none;
    color:#2e8b57;
  }
}

th.days-ja {
    text-align: center!important;
}

a.calendar__content--name {
    color: black;
}

@media (max-width: 768px){
  h1.heading__title--main {
    font-size: 50px;
  }
}