<div class="content__fields">
  <h2 class="content__fields--heading">My Calendar</h2>
  <div class="content__fields--calendar">
    <%= month_calendar events: events do |date, events| %>
      <%= date.day %>
      
      <% events.each do |event| %>
        <div id="calendar__content<%= event.id %>">
          <%= render partial: 'requests/request_date', locals: {event: event} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>