<div class="search">
  <div class="search-form">
    <div class="search-form__events">
      <%= form_with url: event_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :search_word %>
        <%= f.button type: "submit", class: "aaa"  do %>
         <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>